@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu--button {
  @apply justify-start whitespace-nowrap rounded-md text-sm font-medium  transition-colors focus-visible:outline-none focus-visible:ring-2  disabled:pointer-events-none disabled:opacity-50 hover:bg-white hover:text-black h-10 px-4 py-2 flex items-center w-full;
}
