@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu--button {
  @apply justify-start whitespace-nowrap rounded-md text-sm font-medium  transition-colors focus-visible:outline-none focus-visible:ring-2  disabled:pointer-events-none disabled:opacity-50 hover:bg-white hover:text-black h-10 px-4 py-2 flex items-center w-full;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgb(245, 136, 12) transparent rgb(245, 136, 12) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.switch {
  @apply flex;
}
.switch input[type="checkbox"] {
  @apply h-0 w-0 invisible;
}
.switch label {
  @apply cursor-pointer w-[38px] h-4 bg-[rgb(0,0,0,0.2)] block relative transition-[0.3s] box-content p-1 rounded-[50em];
}
.switch label > .slider.round {
  @apply content-[''] absolute w-4 h-4 bg-white transition-[0.3s] rounded-[50em];
}
.switch input:checked + label {
  @apply bg-red-500;
}
.switch input:checked + label > .slider.round {
  @apply translate-x-[calc(100%_+_5px)] text-[black];
}
.slider.round {
  @apply w-auto h-auto text-center text-[gray] m-0 p-0;
}
